.posts {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.middleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: inherit;
}

.filter {
  padding: 20px 50px 0px 50px;
  background-color: rgb(220, 220, 220);
}

.noPost {
  color: grey;
  text-align: center;
}
