.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayImg {
  width: 600px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.img {
  width: 100px;
  cursor: pointer;
}
